@import "../../../../../../css/mixins";

.knowledge-body {
  max-width: 1200px;
  position: relative;
  padding: 0 5%;
  margin: 0 auto;

  :global {
    .ant-list-split .ant-list-item:last-child {
      border-bottom: none;
      text-align: center;
      display: inline-block;
      border: 1px solid #e0e0e0;
      margin: 0 0.8% 20px;
      padding: 1.5em 1em;
      cursor: pointer;
      -webkit-transition: background 0.15s;
      -moz-transition: background 0.15s;
      -o-transition: background 0.15s;
      transition: background 0.15s;
      vertical-align: top;
      width: 100%;
    }

    .ant-list-items :hover {
      text-decoration: none;
      background: #f8f8f8;
    }
    .ant-spin-container {
      padding: 30px 0px;
    }
  }
  .categorySection {
    text-align: center;
    margin: 20px 0px 40px;

    .heading {
      font-size: 24px;
      font-family: Segoe Pro semibold;
      padding: 30px 0px 10px;
      color: #293846;
    }
    .subHeading {
      font-size: 16px;
      font-family: Segoe Pro semibold;
      position: relative;
      border-bottom: 2px solid #293846;
      display: inline-block;
      padding-bottom: 22px;

      &:before {
        content: "";
        background: #ffffff url(../../../../../../img/category-default-black.png);
        background-size: 22px 22px;
        background-position: center;
        background-repeat: no-repeat;
        position: absolute;
        left: 0;
        right: 0;
        margin: 0 auto;
        width: 40px;
        height: 25px;
        bottom: -12px;
        z-index: 9999;
      }
    }
  }

  @media screen and (max-width: 767px) {
    .categorySection {
      text-align: unset;
      margin: 10px 0 20px;

      .heading {
        padding: 0 0 5px;
      }

      .subHeading {
        display: none;
      }
    }
  }

  .top-articles {
    margin: 0 auto;
    z-index: -999;

    .left {
      width: 50%;
      padding: 0 2% 0 4%;
    }

    .right {
      width: 50%;
      padding: 0 4% 0 2%;
    }

    .top-searched-links {
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      width: calc(100% - 24px);
      font-size: 16px;
    }

    .aboveMobile {
      display: flex;
      justify-content: space-between;
      margin: 0 auto;
      /* width: 85%; */
      width: 100%;
    }

    .header {
      position: relative;
      border-bottom: 2px solid #293846;
      padding-bottom: 15px;
      display: inline-block;
      margin: 10px auto 35px;
      left: 50%;
      transform: translate(-50%);
      text-align: center;
      font-size: 24px;
      font-family: Segoe Pro semibold;
      padding: 25px 0;
      color: #293846;
    }

    .header::before {
      content: "";
      background: #ffffff url(../../../../../../img/mostPopulerIcon.png);
      background-size: 22px 22px;
      background-position: center;
      background-repeat: no-repeat;
      position: absolute;
      left: 0;
      right: 0;
      margin: 0 auto;
      width: 40px;
      height: 25px;
      bottom: -12px;
      z-index: 9999;
      padding: -5px;
    }

    @media screen and (max-width: 767px) {
      .header {
        position: initial;
        border-bottom: none;
        display: inline-block;
        margin: 0;
        left: 0;
        transform: none;
        text-align: left;
        font-size: 22px;
        padding: 25px 0;

        &:before {
          display: none;
        }
      }
    }
    .popArticles {
      font-size: 16px;
      list-style: none;
      padding-inline-start: 0px;
    }
    .popArticles a {
      color: var(--color-selection-primary-nav);
      cursor: pointer;
    }
    .popArticles a {
      display: flex;
      margin-left: 0;
    }

    .two-col .popArticles {
      float: left;
      text-align: left;
      list-style-type: none;
      margin: 0;
      width: 50%;
    }

    .two-col .popArticles a {
      padding: 0;
    }
    .two-col .popArticles {
      float: left;
      text-align: left;
      list-style-type: none;
      margin: 0;
      width: 50%;
    }

    li {
      display: flex;
      line-height: 2.25;
    }
    .icon {
      margin-top: 10px;
      margin-right: 10px;
      width: 14px;
      height: 15px;
    }
    @media (max-width: 767px) {
      h2 {
        font-size: 22px;
        margin-bottom: 1.2em;
        text-align: left;
      }
    }
  }

  .no-data {
    text-align: center;
    font-size: 18px;
  }
}
.articlesWidget {
  text-align: center;

  .category {
    // text-align: center;
    // display: inline-block;
    // border: 1px solid #e0e0e0;
    // margin: 0 0.8% 20px;
    // padding: 1.5em 1em;
    cursor: pointer;
    // -webkit-transition: background 0.15s;
    // -moz-transition: background 0.15s;
    // -o-transition: background 0.15s;
    // transition: background 0.15s;
    // vertical-align: top;
    // width: 100%;
    background: #ffffff 0% 0% no-repeat padding-box;
    // box-shadow: 0px 0px 10px #0000001a;
    border: 0.5px solid #29384633;
    border-radius: 8px;
    // display: flex;
    text-align: left;
    // justify-content: space-between;
    padding: 18px 20px;
    color: #293846;

    .iconArea {
      width: 50px;
      padding: 5px 0px;

      img {
        width: 32px;
        height: auto;
      }
    }

    .topDiv {
      display: flex;
      align-items: center;

      img {
        width: 20px;
        margin-right: 10px;
      }

      .title {
        font-size: 18px;
        font-family: Segoe pro semibold;
        @include ellipsis();
      }
    }

    .desc {
      margin: 10px 0;

      $font-size: 12px;
      $line-height: 1.4;
      $lines-to-show: 2;
      letter-spacing: 0.1px;
      display: block;
      /* Fallback for non-webkit */
      display: -webkit-box;
      max-height: $font-size * $line-height * $lines-to-show;
      /* Fallback for non-webkit */
      font-size: $font-size;
      line-height: $line-height;
      -webkit-line-clamp: $lines-to-show;
      -webkit-box-orient: vertical;
      overflow: hidden;

      min-height: $font-size * $line-height * $lines-to-show;
    }

    .bottomDiv {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: 10px;

      .footer {
        font-size: 12px;
        font-family: Segoe pro semibold;
        img {
          width: 12px;
          height: 13px;
        }
        .text {
          margin: 5px;
          vertical-align: middle;
        }
      }
    }

    .contentArea {
      width: calc(100% - 50px);
      color: #293846;

      .header {
        font-size: 18px;
        font-family: Segoe pro semibold;
        @include ellipsis();
      }

      .content {
        margin: 10px 0;

        $font-size: 12px;
        $line-height: 1.4;
        $lines-to-show: 2;
        letter-spacing: 0.1px;
        display: block;
        /* Fallback for non-webkit */
        display: -webkit-box;
        max-height: $font-size * $line-height * $lines-to-show;
        /* Fallback for non-webkit */
        font-size: $font-size;
        line-height: $line-height;
        -webkit-line-clamp: $lines-to-show;
        -webkit-box-orient: vertical;
        overflow: hidden;

        min-height: $font-size * $line-height * $lines-to-show;
      }

      .footer {
        font-size: 12px;
        font-family: Segoe pro semibold;
        img {
          width: 12px;
          height: 13px;
        }
        .text {
          margin: 5px;
          vertical-align: middle;
        }
      }
    }
  }

  .category-outer {
    padding: 0px 8% 40px;
  }

  @media screen and (max-width: 767px) {
    .category-outer {
      padding: 0px 0 25px;

      .content {
        display: none !important;
      }
      .desc {
        display: none !important;
      }

      .footer {
        margin-top: 5px;
      }
    }
  }

  @media screen and (min-width: 768px) and (max-width: 1327px) {
    .category-outer {
      padding: 0px 5% 40px;
    }
  }
  .category .article-count {
    color: var(--color-selection-primary-nav);
    margin-top: 15px;
  }

  // .category h3 {
  //   color: #333;
  //   font-size: 20px;
  //   font-weight: 400;
  //   line-height: 1.3em;
  // }

  // p {
  //   font-size: 14px;
  // }
  .category:hover {
    text-decoration: none;
    border: 0.5px solid var(--color-selection-primary-nav);
    .title {
      color: var(--color-selection-primary-nav);
    }
    .header {
      color: var(--color-selection-primary-nav);
    }
  }
  a {
    color: #4381b5;
    text-decoration: none;
  }
}

@media (min-width: 768px) {
  .outer {
    height: calc(100% - 80px);
    overflow: auto;
  }
  .aboveMobile {
    display: block;
  }
  .forMobile {
    display: none;
  }
}

@media (max-width: 767px) {
  .forMobile {
    display: block !important;
  }
  .aboveMobile {
    display: none !important;
  }
}
