.form {
  padding-right: 32px;
  width: 100%;

  :global .ant-legacy-form-item-control {
    margin-bottom: 10px !important;
    width: 100%;
  }
  .searchArea {
    display: flex;
    position: relative;
    .search-icon {
      font-size: 14px;
      padding: 15px 0px 11px 12px;
      margin-bottom: 11px;
      color: var(--color-selection-primary-nav);
      position: absolute;
      z-index: 99;
      left: -2px;
    }

    :global {
      .ant-select-selection-selected-value {
        padding-left: 26px;
      }
      .ant-select-selection__placeholder {
        padding-left: 26px;
      }
      .ant-select-selector {
        border-radius: 2px;
        padding: 0 11px 0 30px !important;
      }
      .ant-row {
        width: 100%;
      }
      .ant-select-selector input {
        padding-left: 20px !important;
      }
      .ant-form-item {
        width: 100%;
      }
    }
  }

  :global {
    .ant-select-selector{
      border: 1px solid #aaaaaa;
      border-radius: 2px;
    }
    .ant-select-lg .ant-select-selection--single {
      height: 40px;
    }
    .ant-select-lg .ant-select-selection-item {
      line-height: 40px;
    }
    .ant-select-lg {
      font-size: 14px;
    }
    .ant-select-search--inline{
      padding-left: 25px;
    }
  }
  .list-value {
    :global .ant-select-dropdown {
      display: none;
    }
  }
}

@media (max-width: 680) {
  .form {
    width: 350px !important;
  }
}

@media (max-width: 600) {
  .form {
    width: 350px !important;
  }
}

@media (max-width: 400) {
  .form {
    width: 250px !important;
  }
}
