.column-drawer-body {
  height: calc(100% - 66px);
  overflow: auto;
}

.content-filter {
  .drawer-header {
    .title-bar {
      padding: 16px 24px;
      justify-content: space-between;
      display: flex;
      flex-direction: row;
    }

    .filter-applied {
      padding-bottom: 20px;

      .applied {
        border-radius: 4px;
        transition: all 0.5s linear;
        margin: 0 24px 0;

        .filters-tag {
          width: fit-content;
          display: block;
          white-space: pre-wrap;
          position: relative;
          padding-right: 25px;
          margin-bottom: 2px;
          margin-right: 2px;

          .filters-tag-title {
            font-weight: 600;
            font-size: 12px;
            color: black;
          }

          :global {
            .anticon-close {
              position: absolute;
              right: 5px;
              top: calc(50% - 5px);
            }
          }
        }
      }
    }
  }
  :global {
    .ant-drawer-header {
      padding: 0;
    }

    .ant-drawer-body {
      overflow: auto;
    }
  }
}
.avatar {
  width: 50px;
  height: 50px;
  background-color: rgb(0, 112, 210);
  border-radius: 6px;
  margin: auto 12px auto 15px;
  padding: 8px;
  color: white;
}

.view-switch {
  width: 20px;
  padding: 2px;
}

.page-title {
  color: #293846;
  font-weight: 600;
  font-size: 18px;
  white-space: nowrap;
}

.page-subtitle {
  color: rgb(0, 112, 210);
  font-size: 19px;
  white-space: nowrap;
}

.button-margin {
  margin: 11px 0 0 10px;
}

:global .ant-select-dropdown-menu-item {
  a {
    color: rgba(0, 0, 0, 0.65);
  }
  a:hover {
    color: rgba(0, 0, 0, 0.65);
  }
}

.left-container {
  display: flex;

  .data-label {
    padding-top: 5px !important;
    font-size: 18px;
    color: var(--color-brand-primary);
  }

  :global .ant-select-selector{
    background-color: transparent;
    border: none;
  }

  :global .ant-select-focused .ant-select-selection,
  :global .ant-select-selection:focus,
  :global .ant-select-selection:active {
    box-shadow: none;
  }

  :global .ant-select-selection-item {
    margin-left: 0;
  }
}

.right-container {
  margin: 0 12px;
  background: transparent !important;
  border-color: #0070d2 !important;
  color: #0070d2 !important;
}


.main-container {
  // position: relative;
  // height: calc(100% - 78px);
  // background: #f5f5f5;
  // border-bottom: 1px solid #dfdfdf;
  // margin: 0 -20px;
  position: fixed;
  /* height: calc(100% - 78px); */
  /* background: #f5f5f5; */
  /* border-bottom: 1px solid #dfdfdf; */
  margin: -100px -20px;
  right: 0;
  :global {
    .ant-drawer-right.ant-drawer-open .ant-drawer-content-wrapper {
      width: 350px !important;
    }
  }

  .main-container-content {
    background: white;
    padding: 15px 15px 0;
    // box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }

  .refresh-icon {
    color: #646464;
    height: 13px;
    width: 15px;
  }

  :global {
    .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled) {
      border-color: #51a9fb;
      background-color: var(--color-brand-primary);
      color: white;
      box-shadow: none !important;
    }

    .ant-radio-button-wrapper:hover {
      position: relative;
      color: currentColor;
    }

    .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled):hover {
      color: white;
    }

    .ant-radio-group {
      margin: 11px 0 0 10px;
    }
  }
}

.filter-drawer-title-icon {
  zoom: 1.25;
  margin: auto;
}

.filter-drawer-title {
  margin: auto 0 auto 5px;
  font-size: 21px;
}

.modalBox {
  padding: 0 !important;
  border: none !important;
  width: 50% !important;
  margin: 175px auto;
  position: static;
  background: #fff;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.4);
  transition: transform 0.2s ease-out;
  border-radius: 4px;
  overflow: auto;
}

.inner-component {
  width: calc(100% - 250px);
  margin-left: 235px;
  border-radius: 10px;
  height: calc(100vh - 220px);
  background-color: white;
  //overflow: auto;
  box-shadow: 0px 0px 8px 4px rgba(0, 0, 0, 0.07) !important;
}

.input-search {
  margin: 11px 50px 0px 0%;
  width: 100%;
}

.pdf-icon {
  width: 28px;
  height: 28px;
  margin-left: 10px;
  margin-top: 11px;
  cursor: pointer;
}

.csv-icon {
  width: 23px;
  height: 28px;
  margin-left: 10px;
  margin-top: 11px;
  cursor: pointer;
}
.titleBar {
  color: var(--color-input-text);
  padding: 0 24px 0 27px;
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  // background-color: #f9f9f9;
  padding: 1.5em 0;

  .horizontal-flow {
    margin: auto !important;
    width: 100% !important;
  }
  :global {
    .ant-btn {
      margin: 11px 0 0 10px;
    }

    .ant-input-search {
      width: 220px;
      // margin: 11px 0 0 10px !important;

      .ant-btn {
        margin: 0;
      }
    }
  }
}

.title {
  // flex-grow: 1;
  color: #293846;
  margin: auto 0;
  font-size: 15px;
  line-height: 30px;
}

@media screen and (max-width: 1360px) {
  .input-search {
    margin: 11px 50px 0px 1%;
  }
}

@media (max-width: 1095px) {
  .input-search {
    margin-left: 0px !important;
  }
}

@media screen and (max-width: 768px) {
  .input-search {
    max-width: 100%;
    min-width: 100%;
    margin-left: 32px !important;
    padding-right: 30px;
  }
}
