@font-face {
  font-family: 'Segoe Pro Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Segoe Pro Regular'), url('../fonts/segoe/SegoePro-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Segoe Pro Semibold';
  font-style: normal;
  font-weight: normal;
  src: local('Segoe Pro Semibold'), url('../fonts/segoe/SegoePro-Semibold.woff') format('woff');
}

@font-face {
  font-family: 'Segoe Pro Bold';
  font-style: normal;
  font-weight: normal;
  src: local('Segoe Pro Bold'), url('../fonts/segoe/SegoePro-Bold.woff') format('woff');
}