.outer {
    height: calc(100% - 80px);
    overflow: auto;

    .category-body {
        position: relative;
        width: 78%;
        margin: 0 auto;
        // margin-top: 35px;
        display: flex;
        // height: calc(100% - 97px);
        height: calc(100% - 80px);
    
        .menuBar {
            width: 300px;
            // height: 100%;
            // border-right: 1px solid #d8dde6;
            padding-top: 45px;
        }
    
        .container {
            width: calc(100% - 300px);
        }
        .no-data {
            text-align: center;
            font-size: 18px;
        }
        .article-container {
            /* height: calc(100vh - 175px); */
            // height: calc(100vh - 120px);
            // border: 1px solid #d8dde6;
            border-radius: 0.5rem;
            background-color: white;
            padding: 20px;
            /* max-width: 380px; */
            width: 100%;
            margin: auto;
            height: calc(100% - 45px);
        }
    
        .cat-title {
            font-family: Segoe Pro semibold;
            font-size: 22px;
            margin: 22px 0.5em 0.5em;
        }
        // .content {
        //   // margin-left: -40px;
        // }
    }
}
.heading {
    font-family: Segoe Pro semibold;
    font-size: 22px;
    margin-bottom: 0.5em;
}

.cat-articale {
    height: 100%;
    position: relative;

    :global {
        .ant-list-split .ant-list-item {
            border: none;
            padding: 0px;
        }
        .ant-list-vertical .ant-list-item-meta {
            margin-bottom: 0px;
        }
        .ant-list-something-after-last-item .ant-spin-container > .ant-list-items > .ant-list-item:last-child {
            border: none;
        }
        .ant-list-item-meta-title > a {
            color: var(--color-selection-primary-nav) !important;
        }
    }
    // .popArticles {
    //   font-size: 16px;
    //   list-style: none;
    // }

    // .popArticles a {
    //   color: #36a3dc;
    //   cursor: pointer;
    // }
    // .popArticles a {
    //   display: flex;
    //   margin-left: 0;
    // }
    // li {
    //   display: flex;
    //   line-height: 2.25;
    // }
    .title-container {
        display: flex;
        align-items: center;

        .status-icon {
            margin-left: 10px;
            width: 15px;
            margin-top: 8px;
        }
        .icon {
            margin-top: 8px;
            color: #c6c6c6;
            margin-right: 10px;
            width: 16px;
        }

        .list-icon {
            margin-top: 8px;
            color: #191919;
            margin-right: 10px;
            width: 16px;
        }
    }
    .summary-container {
        position: absolute;
        top: 0;
        right: 0;
        display: flex;
        align-items: center;
        border: 1px solid #29384633;
        background: #036dce0a;
        border-radius: 3px;
        padding: 5px 10px;

        .item {
            display: flex;
            align-items: center;
            padding-right: 5px;
            font-family: Segoe Pro Semibold;

            img {
                width: 13px;
                margin-right: 5px;
            }
        }
    }
}

.cat-articale-detail {
    .content {
        font-size: 14px;
        font-family: sans-serif !important;
        // min-height: 800px;
        line-height: 1.8;
        overflow-x: auto;
        overflow-y: hidden;

        img {
            padding: 20px 6%;
           height: auto;
           max-width: 100%;
        }
    }
}

@media screen and (max-width: 768px) {
    .cat-articale {
        overflow: unset;
    }

    .article-container {
        height: auto !important;
        margin-bottom: 20px !important;
    }

    .cat-articale-detail {
        .content {
            height: fit-content !important;

            img {
                padding: 20px;
                height: 100% !important;
                width: 100% !important;
            }
        }
    }

    .category-body {
        display: block !important;
        margin-top: 10px !important;
        width: 100% !important;
        padding: 0px 34px;
        height: auto !important;

        .article-container {
            padding: 20px 0px 0;
        }
    }
    .cat-title {
        font-size: 20px !important;
        margin: 0px 0px 10px !important;
    }
    .menuBar {
        width: 100% !important;
        border: none !important;
        padding-top: 10px !important;
    }
    .container {
        width: 100% !important;
    }
    // .article-container {
    //   border: 1px solid #d8dde6;
    // }
    .footer {
        display: none;
    }
    .outer {
        height: calc(100% - 142px);
        overflow: unset;
      }
}
:global {
    .ant-breadcrumb a {
        color: var(--color-selection-primary-nav);
    }
}
