.actions {
  text-align: right;

  :global .ant-btn {
    padding: 4px 20px;
    margin-left: 12px;
  }
}

.box {
  position: static;
  width: 450px;
  height: auto;
  margin: 75px auto;
  background: #fff;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.4);
  -webkit-transform: translate(0, -25%);
  -moz-transform: translate(0, -25%);
  transform: translate(0, -25%);
  transition: transform 0.2s ease-out;
  outline: none;
  border: none;
  padding: 0;
  border-radius: 4px;
  overflow: auto;

  .text {
    font-size: 14px;
    margin-bottom: 25px;
  }
}

.header {
  background-color :var(--color-brand-primary);
  padding: 14px 18px;
  h3 {
    margin: 0;
    color: #fff;
    line-height: 1.42;
    font-size: 19px;
    font-weight: 300;
  }
}

@media screen and (max-width: 825px) { 
  .box {
    max-width: 450px;
    width: auto !important;
    margin: 75px 20px;
  }
}
